<% include ../partials/header.ejs %>
	<div class="page-wrapper">
            <% include ../partials/sidenav.ejs %>
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <% include ../partials/topnav.ejs %>

            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    <strong>Student Details</strong>
                                    
                                </div>
                                <div class="card-body card-block">
                                	<div class="row">
                                		<div class="col col-lg-4">
                                			
                                		<img src="<%= item[0].stdntImage %>" style="width: 100px; height: 100px;">
		                            	</div>
		                            	<div class="col col-lg-8">
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;" >Student Information</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Student Name: </strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Blood Group: </strong> <%= item[0].blood_group %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Birth Date: </strong> <%= item[0].d_birth %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Telephone Number Of Student: </strong><%= item[0].tel_number %></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;" >Guardian Information</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Father Name:</strong><%= item[0].father_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Mother Name:</strong><%= item[0].mother_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Father Occupation:</strong><%= item[0].f_occupation %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Mother Occupation:</strong><%= item[0].m_occupation %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Father Yearly income:</strong><%= item[0].f_income %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Local Guardian Name:</strong><%= item[0].g_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Guardian Mobile Number:</strong><%= item[0].g_tel %></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;" >Permanant Address</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Village/Colony Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Street Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Post Code:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Thana Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Telephone Number:</strong><%= item[0].student_name %></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;">Present Address</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Village/Colony Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Street Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Post Code:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>District:</strong><%= item[0].student_name %></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;">Examination Name</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Exam Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Department:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Board Name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Institute name:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Roll Number:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Session:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Examination center:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Passing Year:</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Total Number/GPA(Without 4th Subject):</strong><%= item[0].student_name %></p>
		                            		<p style="margin-bottom: 10px;"><strong>Total Number/GPA(With 4th Subject):</strong><%= item[0].student_name %></p>
		                            	</div>
                                		
                                	</div>
                                	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
               


<% include ../partials/footer.ejs %>